<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <context:component-scan base-package="sinc.hinc."/>
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <jaxrs:server id="apiService" address="/">
        <jaxrs:serviceBeans>
            <ref bean="apiBean"/>
            <ref bean="mngBean"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jacksonProvider"/>
        </jaxrs:providers>
        <jaxrs:features>
            <ref bean="swagger2Feature_Core"/>
        </jaxrs:features>
    </jaxrs:server>

    <!--            <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>-->
    <!--<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>-->
    <bean id="jacksonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>

    <bean id="apiBean" class="sinc.hinc.global.API.ResourcesManagementAPIImpl"/>
    <bean id="mngBean" class="sinc.hinc.global.API.HINCManagementImpl"/>

    <context:component-scan base-package="sinc.hinc."/>
    <bean id="swagger2Feature_Core" class="org.apache.cxf.jaxrs.swagger.Swagger2Feature">
        <property name="basePath" value="/global-management-service-1.0/rest"/>
        <property name="scan" value="true"/>
        <property name="resourcePackage" value="sinc.hinc.common.API,sinc.hinc.model.API"/>
        <property name="contact" value=""/>
        <property name="description"
                  value="Harmonizing Diverse Resource Information Across IoT, Network Functions and Clouds"/>
        <property name="title" value="HINC Global API"/>
        <property name="version" value="1.0"/>

    </bean>


    <!--    <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="sinc.hinc.*"/>
        <property name="version" value="1.0"/>
        <property name="basePath" value="http://global-management-service-1.0/rest"/>
        <property name="title" value="HINC Global Management Service"/>
        <property name="description" value="The endpoint to interact with HINC Local Management Services" />
        <property name="contact" value="d.le@dsg.tuwien.ac.at"/>
        <property name="license" value="Apache 2.0 License"/>
        <property name="licenseUrl" value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
        <property name="scan" value="true"/>
    </bean>-->

</beans>